.key {
    margin: 15px;
    padding: 4px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 101px;
    height: 64px;
    border-radius: 7px;
}

.darkKey {
    background-color: hsl(30, 25%, 89%);
    color: hsl(221, 14%, 31%);
    border-bottom: 4px solid hsl(28, 16%, 65%);
}

.lightKey {
    background-color: hsl(45, 7%, 89%);
    color: hsl(60, 10%, 19%);
    border-bottom: 4px solid hsl(35, 11%, 61%);
}

.blueKey {
    background-color: hsl(268, 47%, 21%);
    color: hsl(52, 100%, 62%);
    border-bottom: 4px solid hsl(290, 70%, 36%);
}

.equalsDarkKey {
    background-color: hsl(6, 63%, 50%);
    border-bottom: 4px solid hsl(6, 70%, 34%);
    color: hsl(0, 0%, 100%);
}

.resetDarkKey {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(224, 28%, 35%);
}

.deleteDarkKey {
    background-color: hsl(225, 21%, 49%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(224, 28%, 35%);
}

.equalsLightKey {
    background-color: hsl(25, 98%, 40%);
    border-bottom: 4px solid hsl(25, 99%, 27%);
    color: hsl(0, 0%, 100%);
}

.resetLightKey {
    background-color: hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(185, 58%, 25%);
}

.deleteLightKey {
    background-color: hsl(185, 42%, 37%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(185, 58%, 25%);
}

.equalsBlueKey {
    background-color: hsl(176, 100%, 44%);
    border-bottom: 4px solid hsl(177, 92%, 70%);
    color: hsl(198, 20%, 13%);
}

.resetBlueKey {
    background-color: hsl(281, 89%, 26%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(285, 91%, 52%);
}

.deleteBlueKey {
    background-color: hsl(281, 89%, 26%);
    color: hsl(0, 0%, 100%);
    border-bottom: 4px solid hsl(285, 91%, 52%);
}

.bottomKeys {
    grid-column: 2 span;
    max-width: 236px;
}