.bottom {
  padding: 15px 15px 15px 15px;
  width: 100%;
  border-radius: 8px;
}

.dark {
  background-color: hsl(223, 31%, 20%);
}

.light {
  background-color: hsl(0, 5%, 81%);
}

.blue {
  background-color: hsl(268, 71%, 12%);
}

.numpad {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}