.bottom {
  padding: 15px 15px 15px 15px;
  width: 100%;
  border-radius: 8px;
}

.numpad {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  align-items: center;
}